pkgbase = haystack
	pkgdesc = A tool to categorise your screenshots
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/JohnCosta27/haystack-arch
	install = haystack.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup
	depends = pango
	depends = webkit2gtk-4.1
	depends = slurp
	depends = grim
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/JohnCosta27/haystack-arch/releases/download/v0.3.0/Haystack_0.3.0_amd64.deb
	sha256sums_x86_64 = 6c7ae7d0da9b27595e222246ed092920f1c1866347fe2f9285a632addf9b2414

pkgname = haystack
